<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WFBS.Presentacion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <WFBS.Presentacion.Properties.Settings>
            <setting name="RecordarUsuario" serializeAs="String">
                <value />
            </setting>
            <setting name="ChkRecordarUsuario" serializeAs="String">
                <value>False</value>
            </setting>
        </WFBS.Presentacion.Properties.Settings>
    </userSettings>
  <connectionStrings>
    <add name="ConexionWFBS" connectionString="Data Source=(DESCRIPTION =(ADDRESS=(PROTOCOL = TCP)(HOST=159.89.86.128)(PORT=4921))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME=XE)));User Id=frobles2;Password=frobl1234;"/>
  </connectionStrings>
</configuration>