<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MainWSPortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8084/WFBSWebService/MainWS"
          binding="basicHttpBinding" bindingConfiguration="MainWSPortBinding"
          contract="webService.MainWS" name="MainWSPort" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="ConexionWFBS" connectionString="Data Source=(DESCRIPTION =(ADDRESS=(PROTOCOL = TCP)(HOST=159.89.86.128)(PORT=4921))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME=XE)));User Id=frobles2;Password=frobl1234;"/>
  </connectionStrings>
</configuration>