<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MainWSPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8084/WFBSWebService/MainWS"
                binding="basicHttpBinding" bindingConfiguration="MainWSPortBinding"
                contract="webService.MainWS" name="MainWSPort" />
        </client>
    </system.serviceModel>
</configuration>